In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir(r'C:\Users\tanzh\Documents\sandbox folder for python\sample files')

Pandas Functions
================
* pd.util.testing.makeDataFrame() --- create a random DataFrame

Notebook Settings
-----------------
* pd.set_option('max_rows', 10) --- set 10 to be the maximum number of rows to be displayed
    * For reference, see 
        * < https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html > 
        * < https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html >


DataFrame Methods & Functions
=============================

Reading Files
-------------
* pd.read_csv(..., parse_dates=['Date'], chunksize=25]) --- read csv file

Descriptive Functions
---------------------
* df.describe() --- return the columns' statistics
* df.info() --- return high level summary of the columns
* df.shape --- return the rows and columns
* df.size --- return the total number of possible values (nrows * ncols)
* df.count() --- return the number of non-zero items in each column

Statistic Function
------------------
* df.corr() --- return the correlation matrix

Data Retrival Functions
-----------------------
* df.select_dtypes(include=[['datetime', 'object']], exclude=[['float']]) --- to include/exclude columns of defined datatypes
* df.isnull() --- return a DataFrame with Boolean values testing if cell is na
* df.sample(frac=0.5) --- randomly return 50% of the data

Information Retrival Function
-----------------------------
* df.index --- to return the index method
* df.memory_usage(deep=True) --- if deep=True, it will retrieve the true memory usage for string/object datatype else it will retrieve the size of the pointer
* df.duplicated(keep=False) --- return a Boolean series where ALL occurrence of duplicated records will display True

Data Manipulation Functions
---------------------------
* df.applymap(some_function) --- to apply some function to all elements in the table
* df['x1'].apply(some_function, axis=0) --- to apply some function at the row leveel
* df.rename(columns= {'col1': 'column1'}, inplace=True)
* df.values --- generate a 2D numpy array
* df['x1'].rolling(5).mean()
* df.explode('x1') --- expand list in cell into row items
* df['x1'].pct_change() --- generate series of percentage change 
* df.sort_values(by=['...'], ascending=False, inplace=False)
* df['x1'].astype(str) --- change the column datatype to string
* df.fillna(999) --- fill na values with 999
* df.fillna(method = 'bfill') --- this fill na values with the last known values
###
* pd.to_datetime(x) --- to convert the column to datetime datatype
* pd.factorize(data.x1) --- to encode the values

Drop Functions
--------------
* df.drop([['col1']], axis=1, inplace=True) --- remove column if axis=1
* df.dropna(axis=0, thresh=4, inplace=False) --- require at least 4 non-NA items otherwise remove row, use subset parameter if targeting specific column
* df.drop_duplicates(keep=False, ignore_index=True) --- if keep=False, drop all duplicates, if keep=first, drop first duplicate occurrence

Aggregation, Appending & Joining
--------------------------------
* df.groupby('x1')['x2'].mean() --- to group the data
* df.groupby(['x1','x2'])['x3','x4'].mean()
* df.groupby('x1').agg( {'x2': 'mean', 'x3': np.count_nonzero} ).rename(columns= {'x2': 'xx2', 'x3': 'xx3'} ).reset_index().round()
* df.groupby('x1').x2.transform(some_function)
###
* pd.crosstab(df.x1, df.x2, margin=True) --- create a frequency distrubtion table
* pd.crosstab(df.x1, df.x2, values= df.x3, aggfunc=np.mean)
###
* pd.concat( [df1, df2], ignore_index=False, axis=0, join='outer')
* df1.append(df2)
###
* df1.merge(df2, left_on= df1.keyA, right_on= df2.keyA, how= {'right', 'left', 'inner','outer'} )
* pd.merge(df1, df2, left_on= df1.keyA, right_on= df2.keyA, how= {'right', 'left', 'inner','outer'})

Export Data
-----------
df.to_excel('output.xlsx', index= False)
df.to_csv('output.csv', index= False)


Pandas Series Methods & Functions
=================================

Descriptive Functions
---------------------
* s.value_counts(normalize=False) --- return the count of values

Information Retrival Function
-----------------------------
* s.unique() --- return the distinct values
* s.nunique() --- return the number of distinct values

Data Manipulation Functions
---------------------------
* s.to_frame() --- convert series to DataFrame
* s.replace({'replace_this' : 'replace_with_this'}, inplace=True) --- replace values
* s.where(s > condition_expression, replacement_value, inplace=False) --- replace values if the condition is False
* s.between(int, int) --- return series of Boolean values if value meets the condition

END
===

# Pandas Basics

In [3]:
# how to read files into pandas dataframe
data = pd.read_csv('tesla_stock_yahoo.csv', parse_dates=['Date'])

###########
# if the csv file is very large, we can divide the file into chunks to load into a pandas dataframe
data_chunks = pd.read_csv('tesla_stock_yahoo.csv', parse_dates=['Date'], chunksize=50) # chunks of 50 rows of data
data = pd.concat(data_chunks)

data.head(10) # if no parameter is passed through, the top 5 rows in the table will be returned

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,NaN,NaN,NaN,NaN,23.889999,18766300.0
1,2010-06-30,NaN,30.420000,23.299999,23.830000,23.830000,17187100.0
2,2010-01-07,25.000000,NaN,20.270000,21.959999,21.959999,8218800.0
3,2010-02-07,23.000000,23.100000,NaN,19.200001,19.200001,5139800.0
4,2010-06-07,20.000000,20.000000,15.830000,NaN,16.110001,6866900.0
5,2010-07-07,16.400000,16.629999,14.980000,15.800000,NaN,6921700.0
6,2010-08-07,16.139999,17.520000,15.570000,17.459999,17.459999,NaN
7,2010-09-07,17.580000,17.900000,16.549999,17.400000,17.400000,4050600.0
8,2010-12-07,17.950001,18.070000,17.000000,17.049999,17.049999,2202500.0
9,2010-07-13,17.389999,18.639999,16.900000,18.139999,18.139999,2680100.0

In [5]:
gdp_data = pd.read_excel('gapminder.xlsx')
pd.crosstab(gdp_data.continent, gdp_data.year, margins=True)

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007,All
continent,,,,,,,,,,,,,
Africa,52,52,52,52,52,52,52,52,52,52,52,52,624
Americas,25,25,25,25,25,25,25,25,25,25,25,25,300
Asia,33,33,33,33,33,33,33,33,33,33,33,33,396
Europe,30,30,30,30,30,30,30,30,30,30,30,30,360
Oceania,2,2,2,2,2,2,2,2,2,2,2,2,24
All,142,142,142,142,142,142,142,142,142,142,142,142,1704

In [6]:
pd.crosstab(gdp_data.continent, gdp_data.year, values=gdp_data.lifeExp, aggfunc=np.mean)

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,39.135500,41.266346,43.319442,45.334538,47.450942,49.580423,51.592865,53.344788,53.629577,53.598269,53.325231,54.806038
Americas,53.279840,55.960280,58.398760,60.410920,62.394920,64.391560,66.228840,68.090720,69.568360,71.150480,72.422040,73.608120
Asia,46.314394,49.318544,51.563223,54.663640,57.319269,59.610556,62.617939,64.851182,66.537212,68.020515,69.233879,70.728485
Europe,64.408500,66.703067,68.539233,69.737600,70.775033,71.937767,72.806400,73.642167,74.440100,75.505167,76.700600,77.648600
Oceania,69.255000,70.295000,71.085000,71.310000,71.910000,72.855000,74.290000,75.320000,76.945000,78.190000,79.740000,80.719500